body {
  background-color: rgb(100, 290, 250);
}

H1 {
	font-size: 180%;
	font-weight: bold;
    font-family: Open Sans;
    color: red;
    text-align: center;

}

h3 {
	font-size: 120%;
	font-weight: inherit;
    text-align: center;
}

em {
    color: rgb(200, 100, 500);
    font-size: 140%;
    font-style: italic;
    font-weight: bold;
    text-decoration: underline;
}